<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))</script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.1.5/css/dx.dark.css" />
    <script src="https://cdn3.devexpress.com/jslib/21.1.5/js/dx.all.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css" /> -->
</head>

    <!-- bootstrap includes --> 
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="dx-viewport">
  <div class="container" style="width: 100%;">
  
  <table class="table" style="width: 100%;">
  <thead>
    <tr>
      <th scope="col" style="width: 20%;">#</th>
      <th scope="col" style="width: 80%;">#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th> 
        <div class="demo-container">
          <div class="form">
              <div id="simple-treeview"></div>
          </div>
        </div> 
      </th>
      <td>
        <table class="table" id="files_table" style="background-color: transparent;">

        </table>
      </td>
    
    </tr>
    
  </tbody>


</body>
<script>

  latests_fetched_files = null;

  $(function(){
      $("#simple-treeview").dxTreeView({ 

          createChildren: function(parent) {
              var parentId = parent ? parent.itemData.id : "";
              latests_fetched_files = $.ajax({
                  url: "http://127.0.0.1:5000/get_folder_children",
                  dataType: "json",
                  data: { parentId: parentId },
                  complete: function (data) {
                      try {
                        update_files_tables(latests_fetched_files)
                      } catch (e) {
                        console.log(e)
                      }
                  }
              })
              
              return latests_fetched_files;
          },
          onItemClick: function (e) {
            console.log(e.itemData.text);
          },
          rootValue: "",
          dataStructure: "plain",
          height: 500
      });
  });

  function update_files_tables(latests_fetched_files) {
    $("#files_table tr").remove(); 
    console.log(latests_fetched_files)
    for ( var i = 0; i < latests_fetched_files.responseJSON.length; i++ ) {
      var tr = document.getElementById("files_table").insertRow(-1);
      var td = document.createElement("td");
      td.innerHTML = latests_fetched_files.responseJSON[i]["fullPath"];
      tr.appendChild(td);

      var td = document.createElement("td");
      td.innerHTML = latests_fetched_files.responseJSON[i]["text"];
      tr.appendChild(td);

      var td = document.createElement("td");
      td.innerHTML = latests_fetched_files.responseJSON[i]["size"];
      tr.appendChild(td);

      var td = document.createElement("td");
      td.innerHTML = latests_fetched_files.responseJSON[i]["date"];
      tr.appendChild(td);

    }
  }

</script>
</html>
